<div class="quantity">
    <div class="quantity__button quantity__button_plus _icon-plus">
    </div>
    <div class="quantity__input">
        <input autocomplete="off" type="text" name="form[]" value="1">
    </div>
    <div class="quantity__button quantity__button_minus _icon-minus"></div>
</div>
