<div class="options">
    <div class="options__item">
        <input
            id="o_1"
            class="options__input"
            checked type="radio"
            value="1"
            name="option"
        >
        <label
            for="o_1"
            class="options__label"
        >
            <span class="options__text"></span>
        </label>
    </div>

    <div class="options__item">
        <input
            hidden
            id="o_2"
            class="options__input"
            type="radio"
            value="2"
            name="option"
        >
        <label
            for="o_2"
            class="options__label"
        >
            <span class="options__text"></span>
        </label>
    </div>
</div>
