<div data-showmore class="">
    <div data-showmore-content class="__content"></div>
    <button hidden data-showmore-button type="button" class="__more">
        <span>Показать еще</span>
        <span>Скыть</span>
    </button>
</div>
