<div data-spollers class="spoilers">
    <div class="spoilers__item">
        <button type="button" data-spoller class="spoilers__title">Spoiler title</button>
        <div class="spoilers__body">Spoiler content</div>
    </div>
</div>
