<!--<div data-spoilers="767.98, min" data-spoilers-speed="200" data-one-spoiler>-->
<div data-spoilers class="spoilers">
    <div class="spoilers__item">
        <button type="button" data-spoiler data-spoiler-close class="spoilers__title">Spoiler title</button>
        <div class="spoilers__body">Spoiler content</div>
    </div>
</div>
