@use 'sass:math';

@import 'base/mixins';

// Google Fonts

// Local fonts
//@import 'fonts/fonts';

// Icon fonts
//@import 'fonts/icons';

// Default font family
$fontFamily: '';
$fontSize: rem(14); // default font size

// Colors
$mainColor: #000; // default font color

// Min page width
$minWidth: 320;

// Template width
$maxWidth: 1920;

// Width of container (0 = without width)
$maxWidthContainer: 1170;

// Container indent
// (30 = 15px left and right, 0 = without indent)
$containerPadding: 30;

// width of enable first breakpoint
$containerWidth: $maxWidthContainer + $containerPadding;

// Breakpoints
$pc: em($containerWidth);
$tablet: em(991.98);
$mobile: em(767.98);
$mobileSmall: em(479.98);

// Break browser styles
@import 'base/null';

body {

    // Scroll locked
    .lock & {
        overflow: hidden;
        touch-action: none;
    }
    // Site downloaded
    // .loaded & {
    // }
}

.wrapper {
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;

    // Set footer on bottom
    > main {
        flex: 1 1 auto;
    }

    // Sliders fix
    > * {
        min-width: 0;
    }
}

[class*='__container'] {
    @if ($maxWidthContainer > 0) {
        max-width: rem($maxWidthContainer);
        box-sizing: content-box;
        margin: 0 auto;
    }

    @if ($containerPadding > 0) {
        padding: 0 rem(math.div($containerPadding, 2));
    }
}

@import 'base';

// Components
@import 'header';
@import 'footer';

// Pages
@import '404';
@import 'home';
